<!DOCTYPE html>
<div th:replace="~{layout/header :: header}"></div>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center border-secondary">
                <div class="card-header text-white bg-dark">
                    <h1>Login</h1>
                </div>
                <img th:src="@{images/logo.png}" class="mx-auto w-25">
                <div class="card-body">
                    <form th:action="@{login}" th:object="${TUsers}" method="POST">
                        <div class="form-group">
                            <input type="text" th:field="*{Email}" placeholder="Email" class="form-control" onkeypress="user.ClearMessages(event,this)">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('Email')}"
                                th:errors="*{Email}" id="email"/>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" th:field="*{Password}" placeholder="Password"
                            class="form-control" onkeypress="user.ClearMessages(event,this)">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('Password')}"
                                th:errors="*{Password}" id="password"/>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-secondary">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/footer :: footer}"></div>